---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<br /><br />
<h1>2025</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Towards Understanding Bias in Synthetic Data for Evaluation</h2>
    Hossein A. Rahmani, Varsha Ramineni, Nick Craswell, Bhaskar Mitra, and Emine Yilmaz<br/>
    Preprint, 2025<br/>
    <a href="https://arxiv.org/abs/2506.10301">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Judging the Judges: A Collection of LLM-Generated Relevance Judgements</h2>
    Hossein A. Rahmani, Clemencia Siro, Mohammad Aliannejadi, Nick Craswell, Charles L. A. Clarke, Guglielmo Faggioli, Bhaskar Mitra, Paul Thomas, and Emine Yilmaz<br/>
    Preprint<br/>
    <a href="https://arxiv.org/abs/2502.13908">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Emancipatory Information Retrieval</h2>
    Bhaskar Mitra<br/>
    Preprint<br/>
    <a href="https://arxiv.org/abs/2501.19241">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Tip of the Tongue Query Elicitation for Simulated Evaluation</h2>
    Yifan He, To Eun Kim, Fernando Diaz, Jaime Arguello, and Bhaskar Mitra<br/>
    In proc. ACM SIGIR (to appear), 2025<br/>
    <a href="../files/3726302.3730335.pdf">PDF</a> | <a href="https://arxiv.org/abs/2502.17776">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>JudgeBlender: Ensembling Automatic Relevance Judgments</h2>
    Hossein A. Rahmani, Emine Yilmaz, Nick Craswell, and Bhaskar Mitra<br/>
    In proc. TheWebConf, 2025<br/>
    <a href="https://dl.acm.org/doi/10.1145/3701716.3715536">Publication</a> | <a href="../files/3701716.3715536.pdf">PDF</a> | <a href="https://arxiv.org/abs/2412.13268">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>SynDL: A Large-Scale Synthetic Test Collection for Passage Retrieval</h2>
    Hossein A. Rahmani, Xi Wang, Emine Yilmaz, Nick Craswell, Bhaskar Mitra, and Paul Thomas<br/>
    In proc. TheWebConf, 2025<br/>
    <a href="https://dl.acm.org/doi/10.1145/3701716.3715311">Publication</a> | <a href="../files/3701716.3715311.pdf">PDF</a> | <a href="https://arxiv.org/abs/2408.16312">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>LLM4Eval@WSDM 2025: Large Language Model for Evaluation in Information Retrieval</h2>
    Hossein A. Rahmani, Clemencia Siro, Mohammad Aliannejadi, Nick Craswell, Charles L.A. Clarke, Guglielmo Faggioli, Bhaskar Mitra, Paul Thomas, and Emine Yilmaz<br/>
    In proc. ACM WSDM, 2025<br/>
    <a href="https://dl.acm.org/doi/abs/10.1145/3701551.3705706">Publication</a> | <a href="../files/3701551.3705706.pdf">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Recall, Robustness, and Lexicographic Evaluation</h2>
    Fernando Diaz, Michael D. Ekstrand, and Bhaskar Mitra<br/>
    In ACM Transactions on Recommender Systems (TORS), 2025<br/>
    <a href="https://dl.acm.org/doi/10.1145/3728373">Publication</a> | <a href="../files/3728373.pdf">PDF</a> | <a href="https://arxiv.org/abs/2302.11370">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Search and Society: Reimagining Information Access for Radical Futures</h2>
    Bhaskar Mitra<br/>
    In Information Retrieval Research Journal (IRRJ), 2025<br/>
    <a href="https://irrj.org/article/view/19654">Publication</a> | <a href="../files/19654_Mitra.pdf">PDF</a> | <a href="https://arxiv.org/abs/2403.17901">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Sociotechnical Implications of Generative Artificial Intelligence for Information Access</h2>
    Bhaskar Mitra, Henriette Cramer, and Olya Gurevich <br/>
    In book "Information Access in the Era of Generative AI" (editors: Chirag Shah and Ryen White), Springer Nature, 2025<br/>
    <a href="https://link.springer.com/chapter/10.1007/978-3-031-73147-1_7">Publication</a> | <a href="../files/978-3-031-73147-1.pdf">PDF</a> | <a href="https://arxiv.org/abs/2405.11612">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Overview of the TREC 2024 Tip-of-the-Tongue Track</h2>
    Jaime Arguello, Samarth Bhargav, Fernando Diaz, To Eun Kim, Yifan He, Evangelos Kanoulas, and Bhaskar Mitra<br/>
    In proc. Text REtrieval Conference (TREC), 2025<br/>
    <a href="https://trec.nist.gov/pubs/trec33/papers/Overview_tot.pdf">Publication</a> | <a href="../files/Overview_tot_2024.pdf">PDF</a>
  </article>
</div>

<br /><br />
<h1>2024</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Through the Looking-Glass: Transparency Implications and Challenges in Enterprise AI Knowledge Systems</h2>
    Karina Cortiñas-Lorenzo, Siân Lindley, Ida Larsen-Ledet, and Bhaskar Mitra<br/>
    Preprint<br/>
    <a href="https://arxiv.org/abs/2401.09410">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>LLMJudge: LLMs for Relevance Judgments</h2>
    Hossein A. Rahmani, Emine Yilmaz, Nick Craswell, Bhaskar Mitra, Paul Thomas, Charles L. A. Clarke, Mohammad Aliannejadi, Clemencia Siro, and Guglielmo Faggioli<br/>
    In proc. LM4Eval: The First Workshop on Large Language Models for Evaluation in Information Retrieval, ACM SIGIR, 2024<br/>
    <a href="https://ceur-ws.org/Vol-3752/paper8.pdf">Publication</a> | <a href="../files/paper8.pdf">PDF</a> | <a href="https://arxiv.org/abs/2408.08896">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Proceedings of The First Workshop on Large Language Models for Evaluation in Information Retrieval (LLM4Eval 2024)</h2>
    Clemencia Siro, Mohammad Aliannejadi, Hossein A. Rahmani, Nick Craswell, Charles L. A. Clarke, Guglielmo Faggioli, Bhaskar Mitra, Paul Thomas, and Emine Yilmaz<br/>
    <a href="https://ceur-ws.org/Vol-3752/">Proceedings</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Report on the 1st Workshop on Large Language Model for Evaluation in Information Retrieval (LLM4Eval 2024) at SIGIR 2024</h2>
    Hossein A. Rahmani, Clemencia Siro, Mohammad Aliannejadi, Nick Craswell, Charles L. A. Clarke, Guglielmo Faggioli, Bhaskar Mitra, Paul Thomas, and Emine Yilmaz<br/>
    In ACM SIGIR Forum, 2024<br/>
    <a href="https://www.sigir.org/wp-content/uploads/2025/01/p12.pdf">Publication</a> | <a href="../files/p12.pdf">PDF</a> | <a href="https://arxiv.org/abs/2408.05388">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Result Diversification in Search and Recommendation: A Survey</h2>
    Haolun Wu, Yansen Zhang, Chen Ma, Fuyuan Lyu, Bowei He, and Bhaskar Mitra<br/>
    In IEEE Transactions on Knowledge and Data Engineering (TKDE), 2024 <br/>
    <a href="https://ieeexplore.ieee.org/document/10490254">Publication</a> | <a href="../files/Result_Diversification_in_Search_and_Recommendation_A_Survey.pdf">PDF</a> | <a href="https://arxiv.org/abs/2212.14464">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Synthetic Test Collections for Retrieval Evaluation</h2>
    Hossein A. Rahmani, Nick Craswell, Emine Yilmaz, Bhaskar Mitra, and Daniel Campos<br/>
    In proc. ACM SIGIR, 2024<br/>
    <a href="https://dl.acm.org/doi/10.1145/3626772.3657942">Publication</a> | <a href="../files/3626772.3657942.pdf">PDF</a> | <a href="https://arxiv.org/abs/2405.07767">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>LLM4Eval: Large Language Model for Evaluation in IR</h2>
    Hossein A. Rahmani, Clemencia Siro, Mohammad Aliannejadi, Nick Craswell, Charles L. A. Clarke, Guglielmo Faggioli, Bhaskar Mitra, Paul Thomas, and Emine Yilmaz<br/>
    In proc. ACM SIGIR, 2024<br/>
    <a href="https://dl.acm.org/doi/10.1145/3626772.3657992">Publication</a> | <a href="../files/3626772.3657992.pdf">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Large Language Models can Accurately Predict Searcher Preferences</h2>
    Paul Thomas, Seth Spielman, Nick Craswell, and Bhaskar Mitra<br/>
    In proc. ACM SIGIR, 2024<br/>
    <a href="https://dl.acm.org/doi/10.1145/3626772.3657707">Publication</a> | <a href="../files/3626772.3657707.pdf">PDF</a> | <a href="https://arxiv.org/abs/2309.10621">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Report on The Search Futures Workshop at ECIR 2024</h2>
    Leif Azzopardi, Charles L. A. Clarke, Paul Kantor, Bhaskar Mitra, Johanne R. Trippas, and Zhaochun Ren<br/>
    In ACM SIGIR Forum, 2024<br/>
    <a href="https://dl.acm.org/doi/10.1145/3687273.3687288">Publication</a> | <a href="../files/3687273.3687288.pdf">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>ReNeuIR at SIGIR 2024: The Third Workshop on Reaching Efficiency in Neural Information Retrieval</h2>
    Maik Fröbe, Joel Mackenzie, Bhaskar Mitra, Franco Maria Nardini, and Martin Potthast<br/>
    In proc. ACM SIGIR, 2024<br/>
    <a href="https://dl.acm.org/doi/10.1145/3626772.3657994">Publication</a> | <a href="../files/3626772.3657994.pdf">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Towards Group-aware Search Success</h2>
    Haolun Wu, Bhaskar Mitra, and Nick Craswell<br/>
    In proc. ACM ICTIR, 2024<br/>
    <a href="https://dl.acm.org/doi/10.1145/3664190.3672526">Publication</a> | <a href="../files/3664190.3672526.pdf">PDF</a> | <a href="https://arxiv.org/abs/2404.17313">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Learning to Extract Structured Entities Using Language Models</h2>
    Haolun Wu, Ye Yuan, Liana Mikaelyan, Alexander Meulemans, Xue Liu, James Hensman, and Bhaskar Mitra<br/>
    In proc. EMNLP, 2024<br/>
    <a href="https://aclanthology.org/2024.emnlp-main.388/">Publication</a> | <a href="../files/2024.emnlp-main.388.pdf">PDF</a> | <a href="https://arxiv.org/abs/2402.04437">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>A Framework for Exploring the Consequences of AI-Mediated Enterprise Knowledge Access and Identifying Risks to Workers</h2>
    Anna Gausen, Bhaskar Mitra, and Siân Lindley<br/>
    In proc. ACM FAccT, 2024<br/>
    <a href="https://dl.acm.org/doi/10.1145/3630106.3658900">Publication</a> | <a href="../files/3630106.3658900.pdf">PDF</a> | <a href="https://arxiv.org/abs/2312.10076">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>The Search Futures Workshop</h2>
    Leif Azzopardi, Charles L. A. Clarke, Paul B. Kantor, Bhaskar Mitra, Johanne R. Trippas, and Zhaochun Ren<br/>
    In proc. ECIR, 2024<br/>
    <a href="https://link.springer.com/chapter/10.1007/978-3-031-56069-9_57">Publication</a> | <a href="../files/978-3-031-56069-9_57.pdf">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Overview of the TREC 2023 Tip-of-the-Tongue Track</h2>
    Jaime Arguello, Samarth Bhargav, Fernando Diaz, Evangelos Kanoulas, and Bhaskar Mitra<br/>
    In proc. Text REtrieval Conference (TREC), 2024<br/>
    <a href="https://trec.nist.gov/pubs/trec32/papers/Overview_tot.pdf">Publication</a> | <a href="../files/Overview_tot_2023.pdf">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Overview of the TREC 2023 Deep Learning Track</h2>
    Nick Craswell, Bhaskar Mitra, Emine Yilmaz, Hossein A. Rahmani, Daniel Campos, Jimmy Lin, Ellen M. Voorhees, and Ian Soboroff<br/>
    In proc. Text REtrieval Conference (TREC), 2024<br/>
    <a href="https://trec.nist.gov/pubs/trec32/papers/Overview_deep.pdf">Publication</a> | <a href="../files/Overview_deep_2023.pdf">PDF</a>
  </article>
</div>

<br /><br />
<h1>2023</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2></h2>
    <br/>
    In <br/>
    <a href="">Publication</a> | <a href="../files/">PDF</a> | <a href="">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Overview of the TREC 2022 Deep Learning Track</h2>
    Nick Craswell, Bhaskar Mitra, Emine Yilmaz, Daniel Campos, Jimmy Lin, Ellen M. Voorhees, and Ian Soboroff<br/>
    In proc. Text REtrieval Conference (TREC), 2023<br/>
    <a href="https://trec.nist.gov/pubs/trec31/papers/Overview_deep.pdf">Publication</a> | <a href="../files/Overview_deep_2022.pdf">PDF</a>
  </article>
</div>

<br /><br />
<h1>2022</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2></h2>
    <br/>
    In <br/>
    <a href="">Publication</a> | <a href="../files/">PDF</a> | <a href="">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Overview of the TREC 2021 Deep Learning Track</h2>
    Nick Craswell, Bhaskar Mitra, Emine Yilmaz, Daniel Campos, and Jimmy Lin<br/>
    In proc. Text REtrieval Conference (TREC), 2022<br/>
    <a href="https://trec.nist.gov/pubs/trec30/papers/Overview-DL.pdf">Publication</a> | <a href="../files/Overview-DL_2021.pdf">PDF</a>
  </article>
</div>

<br /><br />
<h1>2021</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2></h2>
    <br/>
    In <br/>
    <a href="">Publication</a> | <a href="../files/">PDF</a> | <a href="">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Overview of the TREC 2020 Deep Learning Track</h2>
    Nick Craswell, Bhaskar Mitra, Emine Yilmaz, and Daniel Campos<br/>
    In proc. Text REtrieval Conference (TREC), 2021<br/>
    <a href="https://trec.nist.gov/pubs/trec29/papers/OVERVIEW.DL.pdf">Publication</a> | <a href="../files/OVERVIEW.DL_2020.pdf">PDF</a>
  </article>
</div>

<br /><br />
<h1>2020</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2></h2>
    <br/>
    In <br/>
    <a href="">Publication</a> | <a href="../files/">PDF</a> | <a href="">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Overview of the TREC 2019 Deep Learning Track</h2>
    Nick Craswell, Bhaskar Mitra, Emine Yilmaz, Daniel Campos, and Ellen M. Voorhees<br/>
    In proc. Text REtrieval Conference (TREC), 2020<br/>
    <a href="https://trec.nist.gov/pubs/trec28/papers/OVERVIEW.DL.pdf">Publication</a> | <a href="../files/OVERVIEW.DL_2019.pdf">PDF</a>
  </article>
</div>

<br /><br />
<h1>2019</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2></h2>
    <br/>
    In <br/>
    <a href="">Publication</a> | <a href="../files/">PDF</a> | <a href="">ArXiv</a>
  </article>
</div>

<br /><br />
<h1>2018</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2></h2>
    <br/>
    In <br/>
    <a href="">Publication</a> | <a href="../files/">PDF</a> | <a href="">ArXiv</a>
  </article>
</div>

<br /><br />
<h1>2017</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2></h2>
    <br/>
    In <br/>
    <a href="">Publication</a> | <a href="../files/">PDF</a> | <a href="">ArXiv</a>
  </article>
</div>

<br /><br />
<h1>2016</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2></h2>
    <br/>
    In <br/>
    <a href="">Publication</a> | <a href="../files/">PDF</a> | <a href="">ArXiv</a>
  </article>
</div>

<br /><br />
<h1>2015</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2></h2>
    <br/>
    In <br/>
    <a href="">Publication</a> | <a href="../files/">PDF</a> | <a href="">ArXiv</a>
  </article>
</div>

<br /><br />
<h1>2014</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2></h2>
    <br/>
    In <br/>
    <a href="">Publication</a> | <a href="../files/">PDF</a> | <a href="">ArXiv</a>
  </article>
</div>
