---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h3>2025</h3>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Towards Understanding Bias in Synthetic Data for Evaluation</h2>
    Hossein A. Rahmani, Varsha Ramineni, Nick Craswell, Bhaskar Mitra, and Emine Yilmaz<br/>
    Preprint, 2025<br/>
    <a href="https://arxiv.org/abs/2506.10301">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Judging the Judges: A Collection of LLM-Generated Relevance Judgements</h2>
    Hossein A. Rahmani, Clemencia Siro, Mohammad Aliannejadi, Nick Craswell, Charles L. A. Clarke, Guglielmo Faggioli, Bhaskar Mitra, Paul Thomas, and Emine Yilmaz<br/>
    Preprint<br/>
    <a href="https://arxiv.org/abs/2502.13908">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Tip of the Tongue Query Elicitation for Simulated Evaluation</h2>
    Yifan He, To Eun Kim, Fernando Diaz, Jaime Arguello, and Bhaskar Mitra<br/>
    In proc. ACM SIGIR (to appear), 2025<br/>
    <a href="../files/3726302.3730335.pdf">PDF</a> | <a href="https://arxiv.org/abs/2502.17776">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Search and Society: Reimagining Information Access for Radical Futures</h2>
    Bhaskar Mitra<br/>
    In Information Retrieval Research Journal (IRRJ), 2025<br/>
    <a href="https://irrj.org/article/view/19654">Publication</a> | <a href="../files/19654_Mitra.pdf">PDF</a> | <a href="https://arxiv.org/abs/2403.17901">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Overview of the TREC 2024 Tip-of-the-Tongue Track</h2>
    Jaime Arguello, Samarth Bhargav, Fernando Diaz, To Eun Kim, Yifan He, Evangelos Kanoulas, and Bhaskar Mitra<br/>
    In proc. Text REtrieval Conference (TREC), 2025<br/>
    <a href="https://trec.nist.gov/pubs/trec33/papers/Overview_tot.pdf">Publication</a> | <a href="../files/Overview_tot_2024.pdf">PDF</a>
  </article>
</div>
