---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<br /><br />
<h1>~2025~</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Towards Understanding Bias in Synthetic Data for Evaluation</h2>
    Hossein A. Rahmani, Varsha Ramineni, Nick Craswell, Bhaskar Mitra, and Emine Yilmaz<br/>
    Preprint, 2025<br/>
    <a href="https://arxiv.org/abs/2506.10301">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Judging the Judges: A Collection of LLM-Generated Relevance Judgements</h2>
    Hossein A. Rahmani, Clemencia Siro, Mohammad Aliannejadi, Nick Craswell, Charles L. A. Clarke, Guglielmo Faggioli, Bhaskar Mitra, Paul Thomas, and Emine Yilmaz<br/>
    Preprint, 2025<br/>
    <a href="https://arxiv.org/abs/2502.13908">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Emancipatory Information Retrieval</h2>
    Bhaskar Mitra<br/>
    Preprint, 2025<br/>
    <a href="https://arxiv.org/abs/2501.19241">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Report from the Fourth Strategic Workshop on Information Retrieval in Lorne (SWIRL 2025)</h2>
    Johanne R. Trippas, J. Shane Culpepper, Mohammad Aliannejadi, James Allan, Enrique Amigó, Jaime Arguello, Leif Azzopardi, Peter Bailey, Jamie Callan, Rob Capra, Nick Craswell, Bruce Croft, Jeff Dalton, Gianluca Demartini, Laura Dietz, Zhicheng Dou, Carsten Eickhoff, Michael Ekstrand, Nicola Ferro, Norbert Fuhr, Dorota Glowacka, Faegheh Hasibi, Danula Hettiachchi, Rosie Jones, Jaap Kamps, Noriko Kando, Sarvnaz Karimi, Makoto P Kato, Bevan Koopman, Yiqun Liu, Chenglong Ma, Joel Mackenzie, Maria Maistro, Jiaxin Mao, Dana McKay, Bhaskar Mitra, Stefano Mizzaro, Alistair Moffat, Josiane Mothe, Iadh Ounis, Lida Rashidi, Yongli Ren, Mark Sanderson, Rodrygo Santos, Falk Scholer, Chirag Shah, Laurianne Sitbon, Ian Soboroff, Damiano Spina, Paul Thomas, Juli´an Urbano, Arjen de Vries, Ryen White, Abby Yuan, Hamed Zamani, Oleg Zendel, Min Zhang, Justin Zobel, Shengyao Zhuang, and Guido Zuccon<br/>
    In ACM SIGIR Forum (to appear), 2025<br/>
    <a href="../showpdf/?file=SWIRL-2025-Preprint">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Tip of the Tongue Query Elicitation for Simulated Evaluation</h2>
    Yifan He, To Eun Kim, Fernando Diaz, Jaime Arguello, and Bhaskar Mitra<br/>
    In proc. ACM SIGIR (to appear), 2025<br/>
    <a href="../showpdf/?file=3726302.3730335">PDF</a> | <a href="https://arxiv.org/abs/2502.17776">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>JudgeBlender: Ensembling Automatic Relevance Judgments</h2>
    Hossein A. Rahmani, Emine Yilmaz, Nick Craswell, and Bhaskar Mitra<br/>
    In proc. ACM TheWebConf, 2025<br/>
    <a href="https://dl.acm.org/doi/10.1145/3701716.3715536">Publication</a> | <a href="../showpdf/?file=3701716.3715536">PDF</a> | <a href="https://arxiv.org/abs/2412.13268">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>SynDL: A Large-Scale Synthetic Test Collection for Passage Retrieval</h2>
    Hossein A. Rahmani, Xi Wang, Emine Yilmaz, Nick Craswell, Bhaskar Mitra, and Paul Thomas<br/>
    In proc. ACM TheWebConf, 2025<br/>
    <a href="https://dl.acm.org/doi/10.1145/3701716.3715311">Publication</a> | <a href="../showpdf/?file=3701716.3715311">PDF</a> | <a href="https://arxiv.org/abs/2408.16312">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>LLM4Eval@WSDM 2025: Large Language Model for Evaluation in Information Retrieval</h2>
    Hossein A. Rahmani, Clemencia Siro, Mohammad Aliannejadi, Nick Craswell, Charles L.A. Clarke, Guglielmo Faggioli, Bhaskar Mitra, Paul Thomas, and Emine Yilmaz<br/>
    In proc. ACM WSDM, 2025<br/>
    <a href="https://dl.acm.org/doi/abs/10.1145/3701551.3705706">Publication</a> | <a href="../showpdf/?file=3701551.3705706">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Recall, Robustness, and Lexicographic Evaluation</h2>
    Fernando Diaz, Michael D. Ekstrand, and Bhaskar Mitra<br/>
    In ACM Transactions on Recommender Systems (TORS), 2025<br/>
    <a href="https://dl.acm.org/doi/10.1145/3728373">Publication</a> | <a href="../showpdf/?file=3728373">PDF</a> | <a href="https://arxiv.org/abs/2302.11370">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Search and Society: Reimagining Information Access for Radical Futures</h2>
    Bhaskar Mitra<br/>
    In Information Retrieval Research Journal (IRRJ), 2025<br/>
    <a href="https://irrj.org/article/view/19654">Publication</a> | <a href="../showpdf/?file=19654_Mitra">PDF</a> | <a href="https://arxiv.org/abs/2403.17901">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Sociotechnical Implications of Generative Artificial Intelligence for Information Access</h2>
    Bhaskar Mitra, Henriette Cramer, and Olya Gurevich <br/>
    In book "Information Access in the Era of Generative AI" (editors: Chirag Shah and Ryen White), Springer Nature, 2025<br/>
    <a href="https://link.springer.com/chapter/10.1007/978-3-031-73147-1_7">Publication</a> | <a href="../showpdf/?file=978-3-031-73147-1_7">PDF</a> | <a href="https://arxiv.org/abs/2405.11612">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Overview of the TREC 2024 Tip-of-the-Tongue Track</h2>
    Jaime Arguello, Samarth Bhargav, Fernando Diaz, To Eun Kim, Yifan He, Evangelos Kanoulas, and Bhaskar Mitra<br/>
    In proc. Text REtrieval Conference (TREC), 2025<br/>
    <a href="https://trec.nist.gov/pubs/trec33/papers/Overview_tot.pdf">Publication</a> | <a href="../showpdf/?file=Overview_tot_2024">PDF</a>
  </article>
</div>

<br /><br />
<h1>~2024~</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Through the Looking-Glass: Transparency Implications and Challenges in Enterprise AI Knowledge Systems</h2>
    Karina Cortiñas-Lorenzo, Siân Lindley, Ida Larsen-Ledet, and Bhaskar Mitra<br/>
    Preprint, 2024<br/>
    <a href="https://arxiv.org/abs/2401.09410">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Result Diversification in Search and Recommendation: A Survey</h2>
    Haolun Wu, Yansen Zhang, Chen Ma, Fuyuan Lyu, Bowei He, and Bhaskar Mitra<br/>
    In IEEE Transactions on Knowledge and Data Engineering (TKDE), 2024 <br/>
    <a href="https://ieeexplore.ieee.org/document/10490254">Publication</a> | <a href="../showpdf/?file=Result_Diversification_in_Search_and_Recommendation_A_Survey">PDF</a> | <a href="https://arxiv.org/abs/2212.14464">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>LLMJudge: LLMs for Relevance Judgments</h2>
    Hossein A. Rahmani, Emine Yilmaz, Nick Craswell, Bhaskar Mitra, Paul Thomas, Charles L. A. Clarke, Mohammad Aliannejadi, Clemencia Siro, and Guglielmo Faggioli<br/>
    In proc. LM4Eval: The First Workshop on Large Language Models for Evaluation in Information Retrieval, ACM SIGIR, 2024<br/>
    <a href="https://ceur-ws.org/Vol-3752/paper8.pdf">Publication</a> | <a href="../showpdf/?file=paper8">PDF</a> | <a href="https://arxiv.org/abs/2408.08896">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Proceedings of The First Workshop on Large Language Models for Evaluation in Information Retrieval (LLM4Eval 2024)</h2>
    Clemencia Siro, Mohammad Aliannejadi, Hossein A. Rahmani, Nick Craswell, Charles L. A. Clarke, Guglielmo Faggioli, Bhaskar Mitra, Paul Thomas, and Emine Yilmaz<br/>
    <a href="https://ceur-ws.org/Vol-3752/">Proceedings</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Report on the 1st Workshop on Large Language Model for Evaluation in Information Retrieval (LLM4Eval 2024) at SIGIR 2024</h2>
    Hossein A. Rahmani, Clemencia Siro, Mohammad Aliannejadi, Nick Craswell, Charles L. A. Clarke, Guglielmo Faggioli, Bhaskar Mitra, Paul Thomas, and Emine Yilmaz<br/>
    In ACM SIGIR Forum, 2024<br/>
    <a href="https://dl.acm.org/doi/10.1145/3722449.3722461">Publication</a> | <a href="../showpdf/?file=p12">PDF</a> | <a href="https://arxiv.org/abs/2408.05388">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>LLM4Eval: Large Language Model for Evaluation in IR</h2>
    Hossein A. Rahmani, Clemencia Siro, Mohammad Aliannejadi, Nick Craswell, Charles L. A. Clarke, Guglielmo Faggioli, Bhaskar Mitra, Paul Thomas, and Emine Yilmaz<br/>
    In proc. ACM SIGIR, 2024<br/>
    <a href="https://dl.acm.org/doi/10.1145/3626772.3657992">Publication</a> | <a href="../showpdf/?file=3626772.3657992">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>ReNeuIR at SIGIR 2024: The Third Workshop on Reaching Efficiency in Neural Information Retrieval</h2>
    Maik Fröbe, Joel Mackenzie, Bhaskar Mitra, Franco Maria Nardini, and Martin Potthast<br/>
    In proc. ACM SIGIR, 2024<br/>
    <a href="https://dl.acm.org/doi/10.1145/3626772.3657994">Publication</a> | <a href="../showpdf/?file=3626772.3657994">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Synthetic Test Collections for Retrieval Evaluation</h2>
    Hossein A. Rahmani, Nick Craswell, Emine Yilmaz, Bhaskar Mitra, and Daniel Campos<br/>
    In proc. ACM SIGIR, 2024<br/>
    <a href="https://dl.acm.org/doi/10.1145/3626772.3657942">Publication</a> | <a href="../showpdf/?file=3626772.3657942">PDF</a> | <a href="https://arxiv.org/abs/2405.07767">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Large Language Models can Accurately Predict Searcher Preferences</h2>
    Paul Thomas, Seth Spielman, Nick Craswell, and Bhaskar Mitra<br/>
    In proc. ACM SIGIR, 2024<br/>
    <a href="https://dl.acm.org/doi/10.1145/3626772.3657707">Publication</a> | <a href="../showpdf/?file=3626772.3657707">PDF</a> | <a href="https://arxiv.org/abs/2309.10621">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Towards Group-aware Search Success</h2>
    Haolun Wu, Bhaskar Mitra, and Nick Craswell<br/>
    In proc. ACM ICTIR, 2024<br/>
    <a href="https://dl.acm.org/doi/10.1145/3664190.3672526">Publication</a> | <a href="../showpdf/?file=3664190.3672526">PDF</a> | <a href="https://arxiv.org/abs/2404.17313">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Learning to Extract Structured Entities Using Language Models</h2>
    Haolun Wu, Ye Yuan, Liana Mikaelyan, Alexander Meulemans, Xue Liu, James Hensman, and Bhaskar Mitra<br/>
    In proc. EMNLP, 2024<br/>
    <a href="https://aclanthology.org/2024.emnlp-main.388/">Publication</a> | <a href="../showpdf/?file=2024.emnlp-main.388">PDF</a> | <a href="https://arxiv.org/abs/2402.04437">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>A Framework for Exploring the Consequences of AI-Mediated Enterprise Knowledge Access and Identifying Risks to Workers</h2>
    Anna Gausen, Bhaskar Mitra, and Siân Lindley<br/>
    In proc. ACM FAccT, 2024<br/>
    <a href="https://dl.acm.org/doi/10.1145/3630106.3658900">Publication</a> | <a href="../showpdf/?file=3630106.3658900">PDF</a> | <a href="https://arxiv.org/abs/2312.10076">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Report on The Search Futures Workshop at ECIR 2024</h2>
    Leif Azzopardi, Charles L. A. Clarke, Paul Kantor, Bhaskar Mitra, Johanne R. Trippas, and Zhaochun Ren<br/>
    In ACM SIGIR Forum, 2024<br/>
    <a href="https://dl.acm.org/doi/10.1145/3687273.3687288">Publication</a> | <a href="../showpdf/?file=3687273.3687288">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>The Search Futures Workshop</h2>
    Leif Azzopardi, Charles L. A. Clarke, Paul B. Kantor, Bhaskar Mitra, Johanne R. Trippas, and Zhaochun Ren<br/>
    In proc. ECIR, 2024<br/>
    <a href="https://link.springer.com/chapter/10.1007/978-3-031-56069-9_57">Publication</a> | <a href="../showpdf/?file=978-3-031-56069-9_57">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Overview of the TREC 2023 Tip-of-the-Tongue Track</h2>
    Jaime Arguello, Samarth Bhargav, Fernando Diaz, Evangelos Kanoulas, and Bhaskar Mitra<br/>
    In proc. Text REtrieval Conference (TREC), 2024<br/>
    <a href="https://trec.nist.gov/pubs/trec32/papers/Overview_tot.pdf">Publication</a> | <a href="../showpdf/?file=Overview_tot_2023">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Overview of the TREC 2023 Deep Learning Track</h2>
    Nick Craswell, Bhaskar Mitra, Emine Yilmaz, Hossein A. Rahmani, Daniel Campos, Jimmy Lin, Ellen M. Voorhees, and Ian Soboroff<br/>
    In proc. Text REtrieval Conference (TREC), 2024<br/>
    <a href="https://trec.nist.gov/pubs/trec32/papers/Overview_deep.pdf">Publication</a> | <a href="../showpdf/?file=Overview_deep_2023">PDF</a>
  </article>
</div>

<br /><br />
<h1>~2023~</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>DiSK: A Diffusion Model for Structured Knowledge</h2>
    Ouail Kitouni, Niklas Nolte, James Hensman, and Bhaskar Mitra<br/>
    Preprint, 2023<br/>
    <a href="https://arxiv.org/abs/2312.05253">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Co-audit: tools to help humans double-check AI-generated content</h2>
    Andrew D. Gordon, Carina Negreanu, José Cambronero, Rasika Chakravarthy, Ian Drosos, Hao Fang, Bhaskar Mitra, Hannah Richardson, Advait Sarkar, Stephanie Simmons, Jack Williams, and Ben Zorn<br/>
    In proc. Workshop on the intersection of HCI and PL (PLATEAU), 2023<br/>
    <a href="https://kilthub.cmu.edu/articles/conference_contribution/Co-audit_tools_to_help_humans_double-check_AI-generated_content/25587552">Publication</a> | <a href="../showpdf/?file=Co_audit_report PLATEAU">PDF</a> | <a href="https://arxiv.org/abs/2310.01297">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Patterns of gender-specializing query reformulation</h2>
    Amifa Raj, Bhaskar Mitra, Nick Craswell, and Michael Ekstrand<br/>
    In proc. ACM SIGIR, 2023<br/>
    <a href="https://dl.acm.org/doi/10.1145/3539618.3592034">Publication</a> | <a href="../showpdf/?file=3539618.3592034">PDF</a> | <a href="https://arxiv.org/abs/2304.13129">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>De-Biasing Relevance Judgements for Fair Ranking</h2>
    Amin Bigdeli, Negar Arabzadeh, Shirin Seyedsalehi, Bhaskar Mitra, Morteza Zihayat, and Ebrahim Bagheri <br/>
    In proc. ECIR, 2023<br/>
    <a href="https://link.springer.com/chapter/10.1007/978-3-031-28238-6_24">Publication</a> | <a href="../showpdf/?file=978-3-031-28238-6_24">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Taking Search to Task</h2>
    Chirag Shah, Ryen White, Paul Thomas, Bhaskar Mitra, Shawon Sarkar, and Nicholas Belkin<br/>
    In proc. ACM CHIIR, 2023<br/>
    <a href="https://dl.acm.org/doi/10.1145/3576840.3578288">Publication</a> | <a href="../showpdf/?file=3576840.3578288">PDF</a> | <a href="https://arxiv.org/abs/2301.05046">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Overview of the TREC 2022 Deep Learning Track</h2>
    Nick Craswell, Bhaskar Mitra, Emine Yilmaz, Daniel Campos, Jimmy Lin, Ellen M. Voorhees, and Ian Soboroff<br/>
    In proc. Text REtrieval Conference (TREC), 2023<br/>
    <a href="https://trec.nist.gov/pubs/trec31/papers/Overview_deep.pdf">Publication</a> | <a href="../showpdf/?file=Overview_deep_2022">PDF</a>
  </article>
</div>

<br /><br />
<h1>~2022~</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Are We There Yet? A Decision Framework for Replacing Term-Based Retrieval with Dense Retrieval Systems</h2>
    Sebastian Hofstätter, Nick Craswell, Bhaskar Mitra, Hamed Zamani, and Allan Hanbury<br/>
    Preprint, 2022<br/>
    <a href="https://arxiv.org/abs/2206.12993">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Ethical and Social Considerations in Automatic Expert Identification and People Recommendation in Organizational Knowledge Management Systems</h2>
    Ida Larsen-Ledet, Bhaskar Mitra, and Siân Lindley<br/>
    In proc. FAccTRec Workshop on Responsible Recommendation, ACM RecSys, 2022<br/>
    <a href="https://arxiv.org/abs/2209.03819">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>A Multi-objective Optimization Framework for Multi-stakeholder Fairness-aware Recommendation</h2>
    Haolun Wu, Chen Ma, Bhaskar Mitra, Fernando Diaz, and Xue Liu<br/>
    In ACM Transactions on Information Systems (TOIS), 2022 <br/>
    <a href="https://dl.acm.org/doi/10.1145/3564285">Publication</a> | <a href="../showpdf/?file=3564285">PDF</a> | <a href="https://arxiv.org/abs/2105.02951">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Fostering Coopetition While Plugging Leaks: The Design and Implementation of the MS MARCO Leaderboards</h2>
    Jimmy Lin, Daniel Campos, Nick Craswell, Bhaskar Mitra, and Emine Yilmaz<br/>
    In proc. ACM SIGIR, 2022<br/>
    <a href="https://dl.acm.org/doi/10.1145/3477495.3531725">Publication</a> | <a href="../showpdf/?file=3477495.3531725">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Inconsistent Ranking Assumptions in Medical Search and Their Downstream Consequences</h2>
    Daniel Cohen, Kevin Du, Bhaskar Mitra, Laura Mercurio, Navid Rekabsaz, and Carsten Eickhoff<br/>
    In proc. ACM SIGIR, 2022<br/>
    <a href="https://dl.acm.org/doi/10.1145/3477495.3531898">Publication</a> | <a href="../showpdf/?file=3477495.3531898">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Joint Multisided Exposure Fairness for Recommendation</h2>
    Haolun Wu, Bhaskar Mitra, Chen Ma, Fernando Diaz, and Xue Liu<br/>
    In proc. ACM SIGIR, 2022<br/>
    <a href="https://dl.acm.org/doi/10.1145/3477495.3532007">Publication</a> | <a href="../showpdf/?file=3477495.3532007">PDF</a> | <a href="https://arxiv.org/abs/2205.00048">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Report on the 44th International ACM SIGIR Conference on Research and Development in Information Retrieval (SIGIR 2021)</h2>
    Chirag Shah, Torsten Suel, Fernando Diaz, Bhaskar Mitra, Bárbara Poblete, Hussein Suleman, and Suzan Verberne<br/>
    In ACM SIGIR Forum, 2022<br/>
    <a href="https://dl.acm.org/doi/10.1145/3527546.3527557">Publication</a> | <a href="../showpdf/?file=p08">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Bias-aware Fair Neural Ranking for Addressing Stereotypical Gender Biases</h2>
    Shirin SeyedSalehi, Amin Bigdeli, Negar Arabzadeh, Bhaskar Mitra, Morteza Zihayat, and Ebrahim Bagheri<br/>
    In proc. Extending Database Technology (EDBT), 2022<br/>
    <a href="https://openproceedings.org/2022/conf/edbt/paper-134.pdf">Publication</a> | <a href="../showpdf/?file=paper-134">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Exposing Query Identification for Search Transparency</h2>
    Ruohan Li, Jianxiang Li, Bhaskar Mitra, Fernando Diaz, and Asia J. Biega<br/>
    In proc. ACM TheWebConf, 2022<br/>
    <a href="https://dl.acm.org/doi/abs/10.1145/3485447.3512262">Publication</a> | <a href="../showpdf/?file=3485447.3512262">PDF</a> | <a href="https://arxiv.org/abs/2110.07701">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Less is Less: When are Snippets Insufficient for Human vs Machine Relevance Estimation?</h2>
    Gabriella Kazai, Bhaskar Mitra, Anlei Dong, Nick Craswell, and Linjun Yang <br/>
    In proc. ECIR, 2022<br/>
    <a href="https://link.springer.com/chapter/10.1007/978-3-030-99739-7_18">Publication</a> | <a href="../showpdf/?file=978-3-030-99739-7_18">PDF</a> | <a href="https://arxiv.org/abs/2201.08721">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Revisiting Popularity and Demographic Biases in Recommender Evaluation and Effectiveness</h2>
    Nicola Neophytou, Bhaskar Mitra, and Catherine Stinson <br/>
    In proc. ECIR, 2022<br/>
    <a href="https://link.springer.com/chapter/10.1007/978-3-030-99736-6_43">Publication</a> | <a href="../showpdf/?file=978-3-030-99736-6_43">PDF</a> | <a href="https://arxiv.org/abs/2110.08353">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Overview of the TREC 2021 Deep Learning Track</h2>
    Nick Craswell, Bhaskar Mitra, Emine Yilmaz, Daniel Campos, and Jimmy Lin<br/>
    In proc. Text REtrieval Conference (TREC), 2022<br/>
    <a href="https://trec.nist.gov/pubs/trec30/papers/Overview-DL.pdf">Publication</a> | <a href="../showpdf/?file=Overview-DL_2021">PDF</a> | <a href="https://arxiv.org/abs/2507.08191">ArXiv</a>
  </article>
</div>

<br /><br />
<h1>~2021~</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>MS MARCO Chameleons: Challenging the MS MARCO Leaderboard with Extremely Obstinate Queries</h2>
    Negar Arabzadeh, Bhaskar Mitra, and Ebrahim Bagheri<br/>
    In proc. ACM CIKM, 2021 <br/>
    <a href="https://dl.acm.org/doi/10.1145/3459637.3482011">Publication</a> | <a href="../showpdf/?file=3459637.3482011">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Intra-Document Cascading: Learning to Select Passages for Neural Document Ranking</h2>
    Sebastian Hofstätter, Bhaskar Mitra, Hamed Zamani, Nick Craswell, and Allan Hanbury<br/>
    In proc. ACM SIGIR, 2021<br/>
    <a href="https://dl.acm.org/doi/10.1145/3404835.3462889">Publication</a> | <a href="../showpdf/?file=3404835.3462889">PDF</a> | <a href="https://arxiv.org/abs/2105.09816">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Not All Relevance Scores are Equal: Efficient Uncertainty and Calibration Modeling for Deep Retrieval Models</h2>
    Daniel Cohen, Bhaskar Mitra, Oleg Lesota, Navid Rekabsaz, and Carsten Eickhoff<br/>
    In proc. ACM SIGIR, 2021<br/>
    <a href="https://dl.acm.org/doi/10.1145/3404835.3462951">Publication</a> | <a href="../showpdf/?file=3404835.3462951">PDF</a> | <a href="https://arxiv.org/abs/2105.04651">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Improving Transformer-Kernel Ranking Model Using Conformer and Query Term Independence</h2>
    Bhaskar Mitra, Sebastian Hofstätter, Hamed Zamani, and Nick Craswell<br/>
    In proc. ACM SIGIR, 2021<br/>
    <a href="https://dl.acm.org/doi/abs/10.1145/3404835.3463049">Publication</a> | <a href="../showpdf/?file=3404835.3463049">PDF</a> | <a href="https://arxiv.org/abs/2104.09393">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>MS MARCO: Benchmarking Ranking Models in the Large-Data Regime</h2>
    Nick Craswell, Bhaskar Mitra, Emine Yilmaz, Daniel Campos, and Jimmy Lin<br/>
    In proc. ACM SIGIR, 2021<br/>
    <a href="https://dl.acm.org/doi/10.1145/3404835.3462804">Publication</a> | <a href="../showpdf/?file=3404835.3462804">PDF</a> | <a href="https://arxiv.org/abs/2105.04021">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>TREC Deep Learning Track: Reusable Test Collections in the Large Data Regime</h2>
    Nick Craswell, Bhaskar Mitra, Emine Yilmaz, Daniel Campos, Ellen M. Voorhees, and Ian Soboroff<br/>
    In proc. ACM SIGIR, 2021<br/>
    <a href="https://dl.acm.org/doi/10.1145/3404835.3463249">Publication</a> | <a href="../showpdf/?file=3404835.3463249">PDF</a> | <a href="https://arxiv.org/abs/2104.09399">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Significant Improvements over the State of the Art? A Case Study of the MS MARCO Document Ranking Leaderboard</h2>
    Jimmy Lin, Daniel Campos, Nick Craswell, Bhaskar Mitra, and Emine Yilmaz<br/>
    In proc. ACM SIGIR, 2021<br/>
    <a href="https://dl.acm.org/doi/10.1145/3404835.3463034">Publication</a> | <a href="../showpdf/?file=3404835.3463034">PDF</a> | <a href="https://arxiv.org/abs/2102.12887">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Tip of the Tongue Known-Item Retrieval: A Case Study in Movie Identification</h2>
    Jaime Arguello, Adam Ferguson, Emery Fine, Bhaskar Mitra, Hamed Zamani, and Fernando Diaz<br/>
    In proc. ACM CHIIR, 2021<br/>
    <a href="https://dl.acm.org/doi/10.1145/3406522.3446021">Publication</a> | <a href="../showpdf/?file=3406522.3446021">PDF</a> | <a href="https://arxiv.org/abs/2101.07124">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Neural methods for effective, efficient, and exposure-aware information retrieval</h2>
    Bhaskar Mitra<br/>
    In ACM SIGIR Forum, 2021<br/>
    <a href="https://dl.acm.org/doi/10.1145/3476415.3476434">Publication</a> | <a href="../showpdf/?file=3476415.3476434">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Neural Methods for Effective, Efficient, and Exposure-Aware Information Retrieval</h2>
    Bhaskar Mitra<br/>
    PhD thesis, University College London, 2021<br/>
    <a href="https://discovery.ucl.ac.uk/id/eprint/10125532/">Publication</a> | <a href="../showpdf/?file=dissertation-bmitra">PDF</a> | <a href="https://arxiv.org/abs/2012.11685">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Conformer-Kernel with Query Term Independence at TREC 2020 Deep Learning Track</h2>
    Bhaskar Mitra, Sebastian Hofstatter, Hamed Zamani, and Nick Craswell<br/>
    In proc. Text REtrieval Conference (TREC), 2021<br/>
    <a href="https://trec.nist.gov/pubs/trec29/papers/MSAI.DL.pdf">Publication</a> | <a href="../showpdf/?file=MSAI.DL_2020">PDF</a> | <a href="https://arxiv.org/abs/2011.07368">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Overview of the TREC 2020 Deep Learning Track</h2>
    Nick Craswell, Bhaskar Mitra, Emine Yilmaz, and Daniel Campos<br/>
    In proc. Text REtrieval Conference (TREC), 2021<br/>
    <a href="https://trec.nist.gov/pubs/trec29/papers/OVERVIEW.DL.pdf">Publication</a> | <a href="../showpdf/?file=OVERVIEW.DL_2020">PDF</a> | <a href="https://arxiv.org/abs/2102.07662">ArXiv</a>
  </article>
</div>

<br /><br />
<h1>~2020~</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Semantic Product Search for Matching Structured Product Catalogs in E-Commerce</h2>
    Jason Ingyu Choi, Surya Kallumadi, Bhaskar Mitra, Eugene Agichtein, and Faizan Javed<br/>
    Preprint, 2020<br/>
    <a href="https://arxiv.org/abs/2008.08180">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Conformer-Kernel with Query Term Independence for Document Retrieval</h2>
    Bhaskar Mitra, Sebastian Hofstatter, Hamed Zamani, and Nick Craswell<br/>
    Preprint, 2020<br/>
    <a href="https://arxiv.org/abs/2007.10434">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Evaluating Stochastic Rankings with Expected Exposure</h2>
    Fernando Diaz, Bhaskar Mitra, Michael D. Ekstrand, Asia J. Biega, and Ben Carterette<br/>
    In proc. ACM CIKM, 2020<br/>
    🏆 Best Long Research Paper Nominee<br/>
    <a href="https://dl.acm.org/doi/10.1145/3340531.3411962">Publication</a> | <a href="../showpdf/?file=3340531.3411962">PDF</a> | <a href="https://arxiv.org/abs/2004.13157">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>ORCAS: 18 Million Clicked Query-Document Pairs for Analyzing Search</h2>
    Nick Craswell, Daniel Campos, Bhaskar Mitra, Emine Yilmaz, and Bodo Billerbeck<br/>
    In proc. ACM CIKM, 2020<br/>
    <a href="https://dl.acm.org/doi/10.1145/3340531.3412779">Publication</a> | <a href="../showpdf/?file=3340531.3412779">PDF</a> | <a href="https://arxiv.org/abs/2006.05324">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Analyzing and Learning from User Interactions for Search Clarification</h2>
    Hamed Zamani, Bhaskar Mitra, Everest Chen, Gord Lueck, Fernando Diaz, Paul N. Bennett, Nick Craswell, and Susan T. Dumais<br/>
    In proc. ACM SIGIR, 2020<br/>
    <a href="https://dl.acm.org/doi/10.1145/3397271.3401160">Publication</a> | <a href="../showpdf/?file=3397271.3401160">PDF</a> | <a href="https://arxiv.org/abs/2006.00166">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Local Self-Attention over Long Text for Efficient Document Retrieval</h2>
    Sebastian Hofstätter, Hamed Zamani, Bhaskar Mitra, Nick Craswell, and Allan Hanbury<br/>
    In proc. ACM SIGIR, 2020<br/>
    <a href="https://dl.acm.org/doi/10.1145/3397271.3401224">Publication</a> | <a href="../showpdf/?file=3397271.3401224">PDF</a> | <a href="https://arxiv.org/abs/2005.04908">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>On the Reliability of Test Collections for Evaluating Systems of Different Types</h2>
    Emine Yilmaz, Nick Craswell, Bhaskar Mitra, and Daniel Campos<br/>
    In proc. ACM SIGIR, 2020<br/>
    <a href="https://dl.acm.org/doi/10.1145/3397271.3401317">Publication</a> | <a href="../showpdf/?file=3397271.3401317">PDF</a> | <a href="https://arxiv.org/abs/2004.13486">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Duet at TREC 2019 Deep Learning Track</h2>
    Bhaskar Mitra and Nick Craswell<br/>
    In proc. Text REtrieval Conference (TREC), 2020<br/>
    <a href="https://trec.nist.gov/pubs/trec28/papers/Microsoft.DL.pdf">Publication</a> | <a href="../showpdf/?file=Microsoft.DL_2019">PDF</a> | <a href="https://arxiv.org/abs/1912.04471">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Overview of the TREC 2019 Deep Learning Track</h2>
    Nick Craswell, Bhaskar Mitra, Emine Yilmaz, Daniel Campos, and Ellen M. Voorhees<br/>
    In proc. Text REtrieval Conference (TREC), 2020<br/>
    <a href="https://trec.nist.gov/pubs/trec28/papers/OVERVIEW.DL.pdf">Publication</a> | <a href="../showpdf/?file=OVERVIEW.DL_2019">PDF</a> | <a href="https://arxiv.org/abs/2003.07820">ArXiv</a>
  </article>
</div>

<br /><br />
<h1>~2019~</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Incorporating Query Term Independence Assumption for Efficient Retrieval and Ranking using Deep Neural Networks</h2>
    Bhaskar Mitra, Corby Rosset, David Hawking, Nick Craswell, Fernando Diaz, and Emine Yilmaz<br/>
    Preprint, 2019<br/>
    <a href="https://arxiv.org/abs/1907.03693">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>An Updated Duet Model for Passage Re-ranking</h2>
    Bhaskar Mitra and Nick Craswell<br/>
    Preprint, 2019<br/>
    <a href="https://arxiv.org/abs/1903.07666">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>An Axiomatic Approach to Regularizing Neural Ranking Models</h2>
    Corby Rosset, Bhaskar Mitra, Chenyan Xiong, Nick Craswell, Xia Song, and Saurabh Tiwary<br/>
    In proc. ACM SIGIR, 2019<br/>
    <a href="https://dl.acm.org/doi/10.1145/3331184.3331296">Publication</a> | <a href="../showpdf/?file=3331184.3331296">PDF</a> | <a href="https://arxiv.org/abs/1904.06808">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Report on the First HIPstIR Workshop on the Future of Information Retrieval</h2>
    Laura Dietz, Bhaskar Mitra, Jeremy Pickens, Hana Anber, Sandeep Avula, Asia Biega, Adrian Boteanu, Shubham Chatterjee, Jeff Dalton, Laura Dietz, Shiri Dori-Hacohen, John Foley, Henry Feild, Ben Gamari, Rosie Jones, Pallika Kanani, Sumanta Kashyapi, Widad Machmouchi, Bhaskar Mitra, Matthew Mitsui, Steve Nole, Alexandre Tachard Passos, Jeremy Pickens, Jordan Ramsdell, Adam Roegiest, David Smith, and Alessandro Sordoni<br/>
    In ACM SIGIR Forum, 2019<br/>
    <a href="https://dl.acm.org/doi/10.1145/3458553.3458560">Publication</a> | <a href="../showpdf/?file=3458553.3458560">PDF</a> | <a href="https://arxiv.org/abs/1912.09910">ArXiv</a>
  </article>
</div>

<br /><br />
<h1>~2018~</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>An Introduction to Neural Information Retrieval</h2>
    Bhaskar Mitra and Nick Craswell<br/>
    In Foundations and Trends® in Information Retrieval (FnTIR), 2018<br/>
    <a href="https://www.nowpublishers.com/article/Details/INR-061">Publication</a> | <a href="../showpdf/?file=fntir2018-neuralir-mitra">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>A Line in the Sand: Recommendation or Ad-hoc Retrieval?</h2>
    Surya Kallumadi, Bhaskar Mitra, and Tereza Iofciu<br/>
    ACM RecSys Challenge, 2018<br/>
    <a href="https://arxiv.org/abs/1807.08061">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Cross Domain Regularization for Neural Ranking Models using Adversarial Learning</h2>
    Daniel Cohen, Bhaskar Mitra, Katja Hofmann, and W. Bruce Croft<br/>
    In proc. ACM SIGIR, 2018<br/>
    🏆 Best Short Research Paper Award<br/>
    <a href="https://dl.acm.org/doi/10.1145/3209978.3210141">Publication</a> | <a href="../showpdf/?file=3209978.3210141">PDF</a> | <a href="https://arxiv.org/abs/1805.03403">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Optimizing Query Evaluations Using Reinforcement Learning for Web Search</h2>
    Corby Rosset, Damien Jose, Gargi Ghosh, Bhaskar Mitra, and Saurabh Tiwary<br/>
    In proc. ACM SIGIR, 2018<br/>
    <a href="https://dl.acm.org/doi/10.1145/3209978.3210127">Publication</a> | <a href="../showpdf/?file=3209978.3210127">PDF</a> | <a href="https://arxiv.org/abs/1804.04410">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Neural Networks for Information Retrieval</h2>
    Tom Kenter, Alexey Borisov, Christophe Van Gysel, Mostafa Dehghani, Maarten de Rijke, and Bhaskar Mitra<br/>
    ECIR, 2018<br/>
    <a href="../showpdf/?file=ecir2018-tutorial-nn4ir">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Neural Networks for Information Retrieval</h2>
    Tom Kenter, Alexey Borisov, Christophe Van Gysel, Mostafa Dehghani, Maarten de Rijke, and Bhaskar Mitra<br/>
    ACM WSDM, 2018<br/>
    <a href="https://arxiv.org/abs/1801.02178">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Neural Ranking Models with Multiple Document Fields</h2>
    Hamed Zamani, Bhaskar Mitra, Xia Song, Nick Craswell, and Saurabh Tiwary<br/>
    In proc. ACM WSDM, 2018<br/>
    <a href="https://dl.acm.org/doi/10.1145/3159652.3159730">Publication</a> | <a href="../showpdf/?file=3159652.3159730">PDF</a> | <a href="https://arxiv.org/abs/1711.09174">ArXiv</a>
  </article>
</div>

<br /><br />
<h1>~2017~</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Neural Models for Information Retrieval</h2>
    Bhaskar Mitra and Nick Craswell<br/>
    Preprint, 2017 <br/>
    <a href="https://arxiv.org/abs/1705.01509">ArXiv</a> | <a href="https://www.youtube.com/watch?v=g1Pgo5yTIKg">Talk</a> | <a href="https://www.slideshare.net/BhaskarMitra3/neural-models-for-information-retrieval-82989469">SlideShare</a> | <a href="../files/neuralir-nov2017-171129165345.pptx">PPT</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Neural information retrieval: introduction to the special issue</h2>
    Nick Craswell, W. Bruce Croft, Maarten de Rijke, Jiafeng Guo, and Bhaskar Mitra <br/>
    In the special issue of the Information Retrieval Journal (IRJ) on neural information retrieval, Springer Nature, 2017<br/>
    <a href="https://link.springer.com/article/10.1007/s10791-017-9323-9">Publication</a> | <a href="../showpdf/?file=s10791-017-9323-9">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Learning to Match using Local and Distributed Representations of Text for Web Search</h2>
    Bhaskar Mitra, Fernando Diaz, and Nick Craswell<br/>
    In proc. WWW, 2017<br/>
    <a href="https://dl.acm.org/doi/10.1145/3038912.3052579">Publication</a> | <a href="../showpdf/?file=3038912.3052579">PDF</a> | <a href="https://arxiv.org/abs/1610.08136">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Reply With: Proactive Recommendation of Email Attachments</h2>
    Christophe Van Gysel, Bhaskar Mitra, Matteo Venanzi, Roy Rosemarin, Grzegorz Kukla, Piotr Grudzien, and Nicola Cancedda<br/>
    In proc. ACM CIKM, 2017<br/>
    <a href="https://dl.acm.org/doi/10.1145/3132847.3132979">Publication</a> | <a href="../showpdf/?file=3132847.3132979">PDF</a> | <a href="https://arxiv.org/abs/1710.06061">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Benchmark for Complex Answer Retrieval</h2>
    Federico Nanni, Bhaskar Mitra, Matt Magnusson, and Laura Dietz<br/>
    In proc. ACM ICTIR, 2017<br/>
    <a href="https://dl.acm.org/doi/10.1145/3121050.3121099">Publication</a> | <a href="../showpdf/?file=3121050.3121099">PDF</a> | <a href="https://arxiv.org/abs/1705.04803">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Toward Incorporation of Relevant Documents in word2vec</h2>
    Navid Rekabsaz, Bhaskar Mitra, Mihai Lupu, and Allan Hanbury<br/>
    In proc. Workshop on Neural Information Retrieval (Neu-IR'17), ACM SIGIR, 2017<br/>
    <a href="https://arxiv.org/abs/1707.06598">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Report on the Second SIGIR Workshop on Neural Information Retrieval (Neu-IR'17)</h2>
    Nick Craswell, W. Bruce Croft, Maarten de Rijke, Jiafeng Guo, and Bhaskar Mitra<br/>
    In ACM SIGIR Forum, 2017<br/>
    <a href="https://dl.acm.org/doi/10.1145/3190580.3190603">Publication</a> | <a href="../showpdf/?file=3190580.3190603">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Luandri: A Clean Lua Interface to the Indri Search Engine</h2>
    Bhaskar Mitra, Fernando Diaz, and Nick Craswell<br/>
    In proc. ACM SIGIR, 2017<br/>
    <a href="https://dl.acm.org/doi/10.1145/3077136.3080650">Publication</a> | <a href="../showpdf/?file=3077136.3080650">PDF</a> | <a href="https://arxiv.org/abs/1702.05042">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Neural Networks for Information Retrieval</h2>
    Tom Kenter, Alexey Borisov, Christophe Van Gysel, Mostafa Dehghani, Maarten de Rijke, and Bhaskar Mitra<br/>
    In proc. ACM SIGIR, 2017<br/>
    <a href="https://dl.acm.org/doi/10.1145/3077136.3082062">Publication</a> | <a href="../showpdf/?file=3077136.3082062">PDF</a> | <a href="https://arxiv.org/abs/1707.04242">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>SIGIR 2017 Workshop on Neural Information Retrieval (Neu-IR'17)</h2>
    Nick Craswell, W Bruce Croft, Maarten de Rijke, Jiafeng Guo, and Bhaskar Mitra<br/>
    In proc. ACM SIGIR, 2017<br/>
    <a href="https://dl.acm.org/doi/10.1145/3077136.3084373">Publication</a> | <a href="../showpdf/?file=3077136.3084373">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Neural Text Embeddings for Information Retrieval</h2>
    Bhaskar Mitra and Nick Craswell<br/>
    In proc. ACM WSDM, 2017<br/>
    <a href="https://dl.acm.org/doi/10.1145/3018661.3022755">Publication</a> | <a href="../showpdf/?file=3018661.3022755">PDF</a>
  </article>
</div>

<br /><br />
<h1>~2016~</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Report on the SIGIR 2016 Workshop on Neural Information Retrieval (Neu-IR)</h2>
    Nick Craswell, W. Bruce Croft, Jiafeng Guo, Bhaskar Mitra, and Maarten de Rijke<br/>
    In ACM SIGIR Forum, 2016<br/>
    <a href="https://dl.acm.org/doi/10.1145/3053408.3053425">Publication</a> | <a href="../showpdf/?file=3053408.3053425">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Neu-IR: The SIGIR 2016 Workshop on Neural Information Retrieval</h2>
    Nick Craswell, W. Bruce Croft, Jiafeng Guo, Bhaskar Mitra, and Maarten de Rijke<br/>
    In proc. ACM SIGIR, 2016<br/>
    <a href="https://dl.acm.org/doi/10.1145/2911451.2917762">Publication</a> | <a href="../showpdf/?file=2911451.2917762">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>A Proposal for Evaluating Answer Distillation from Web Data</h2>
    Bhaskar Mitra, Grady Simon, Jianfeng Gao, Nick Craswell, and Li Deng<br/>
    In proc. the Second WebQA Workshop, ACM SIGIR, 2016<br/>
    <a href="../showpdf/?file=sigirwp06-mitra">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Query Expansion with Locally-Trained Word Embeddings</h2>
    Fernando Diaz, Bhaskar Mitra, and Nick Craswell<br/>
    In proc. ACL, 2016<br/>
    <a href="https://aclanthology.org/P16-1035/">Publication</a> | <a href="../showpdf/?file=P16-1035">PDF</a> | <a href="https://arxiv.org/abs/1605.07891">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>A Dual Embedding Space Model for Document Ranking</h2>
    Bhaskar Mitra, Eric Nalisnick, Nick Craswell, and Rich Caruana<br/>
    Preprint, 2016<br/>
    <a href="https://arxiv.org/abs/1602.01137">ArXiv</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Improving Document Ranking with Dual Word Embeddings</h2>
    Eric Nalisnick, Bhaskar Mitra, Nick Craswell, and Rich Caruana<br/>
    In proc. WWW, 2016<br/>
    <a href="https://dl.acm.org/doi/10.1145/2872518.2889361">Publication</a> | <a href="../showpdf/?file=2872518.2889361">PDF</a>
  </article>
</div>

<br /><br />
<h1>~2015~</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Query Auto-Completion for Rare Prefixes</h2>
    Bhaskar Mitra and Nick Craswell<br/>
    In proc. ACM CIKM, 2015<br/>
    <a href="https://dl.acm.org/doi/10.1145/2806416.2806599">Publication</a> | <a href="../showpdf/?file=2806416.2806599">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>Exploring Session Context using Distributed Representations of Queries and Reformulations</h2>
    Bhaskar Mitra<br/>
    In proc. ACM SIGIR, 2015<br/>
    <a href="https://dl.acm.org/doi/10.1145/2766462.2767702">Publication</a> | <a href="../showpdf/?file=2766462.2767702">PDF</a>
  </article>
</div>

<br /><br />
<h1>~2014~</h1>
<hr />
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>An Introduction to Computational Networks and the Computational Network Toolkit</h2>
    Amit Agarwal, Eldar Akchurin, Chris Basoglu, Guoguo Chen, Scott Cyphers, Jasha Droppo, Adam Eversole, Brian Guenter, Mark Hillebrand, Xuedong Huang, Zhiheng Huang, Vladimir Ivanov, Alexey Kamenev, Philipp Kranen, Oleksii Kuchaiev, Wolfgang Manousek, Avner May, Bhaskar Mitra, Olivier Nano, Gaizka Navarro, Alexey Orlov, Marko Padmilac, Hari Parthasarathi, Baolin Peng, Alexey Reznichenko, Frank Seide, Michael L. Seltzer, Malcolm Slaney, Andreas Stolcke, Huaming Wang, Kaisheng Yao, Dong Yu, Yu Zhang, and Geoffrey Zweig<br/>
    Tech report MSR-TR-2014-112, 2014 <br/>
    <a href="https://www.microsoft.com/en-us/research/wp-content/uploads/2014/08/CNTKBook-20160217.pdf">Publication</a> | <a href="../showpdf/?file=CNTKBook-20160217">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>An Eye-tracking Study of User Interactions with Query Auto Completion</h2>
    Kajta Hofmann, Bhaskar Mitra, Filip Radlinski, and Milad Shokouhi<br/>
    In proc. ACM CIKM, 2014<br/>
    <a href="https://dl.acm.org/doi/10.1145/2661829.2661922">Publication</a> | <a href="../showpdf/?file=2661829.2661922">PDF</a>
  </article>
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2>On user interactions with query auto-completion</h2>
    Bhaskar Mitra, Milad Shokouhi, Filip Radlinski, and Katja Hofmann<br/>
    In proc. ACM SIGIR, 2014<br/>
    <a href="https://dl.acm.org/doi/10.1145/2600428.2609508">Publication</a> | <a href="../showpdf/?file=2600428.2609508">PDF</a>
  </article>
</div>
